shiny
snowflake-connector-python
databricks-sql-connector
pandas
plotly
shinywidgets
#posit-sdk @ git+https://github.com/posit-dev/posit-sdk-py.git@connect-cloud-auth
posit-sdk @ git+https://github.com/posit-dev/posit-sdk-py.git
